@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap');

h1{
    font-size: 6rem;
}
h2{
    font-size: 3rem;
}
.body{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display:block;
    font-family: "Honk", system-ui, sans-serif;
}



.pagina2{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display:block;
    font-family: "Honk", system-ui, sans-serif;
}

.contenedor1{
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 2rem;
    font-family: "Honk", system-ui, sans-serif;
    font-size: 2rem;
    
}
.contenedor2 {
    text-align: center;
    background: white;
    padding: 2rem;
}

.acceder{
    text-decoration: none;
}

button {
    text-decoration: none;
    background-color: rgb(228, 141, 11); 
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #b9c1c7;
}

button:disabled {
    background-color: #cec7c7;
    cursor: not-allowed;
}