@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Honk:MORF@15&family=Nabla&display=swap');

h1{
    font-size: 6rem;
}
h2{
    font-size: 3rem;
}
.body{
    text-align: center;
    border-radius: 10px;
    background: rgb(80, 25, 207);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-family: "Honk", system-ui, sans-serif;
}

.pagina2{
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display:block;
    font-family: "Honk", system-ui, sans-serif;
}

.contenedor1{
    text-align: center;
    background: rgb(80, 25, 207);
    font-family: "Honk", system-ui, sans-serif;
    font-size: 3rem;
    padding: 2rem;

}
.contenedor2 {
    text-align: center;
    background: rgb(80, 25, 207);
    padding: 2rem;
    font-size: 2rem;
}

button {
    text-decoration: none;
    background-color: rgb(0, 0, 0); 
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.acceder {
    display: inline-block; 
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.acceder:hover {
    background-color: #b9c1c7;
}

button:hover {
    background-color: #b9c1c7;
}

button:disabled {
    background-color: #cec7c7;
    cursor: not-allowed;
}

.num{
    font-family: "Nabla", system-ui;
    font-size: 80px;
}